# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/api/node_modules
node_modules
/.pnp
.pnp.js

# testing
/coverage
/api/db/test_data.json
**/dump.rdb
/api/redis.log
/api/server.log

# production
build

# misc
.DS_Store
*.env*
./api/*.env*
readme.md

# logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
npm-debug.log
